{% extends "base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
    <h1 class="govuk-heading-xl">Application</h1>

    <p class="govuk-body">
        {{ t('pages.home.defaultTemplate') }}
    </p>

    {{ govukSummaryList({
        card: {
            title: {
            text: "Application details"
            }
        },
        rows: [
            { key: { text: "Id" }, value: { text: "test" } },
            { key: { text: "status" }, value: { text: "open" } },
            { key: { text: "provider" }, value: { text: "Test Provider" } },
            { key: { text: "date submitted" }, value: { text: "14/04/2026" } }
        ]
}) }}

{% endblock %}